
    <nav aria-label="Page-navigation-sort">
          <ul class="pagination justify-content-begin" style="float:left; padding-left: 25px;">
              <li class="page-item {{enabled}}">
              <a class="page-link"  href="/reports/attendance?sort=newest">Newest</a>
            </li>
                <li class="page-item {{enabled}}">
              <a class="page-link"  href="/reports/attendance?sort=oldest">Oldest</a>
          </ul>
    </nav>

    <nav aria-label="Page-navigation">


          <ul class="pagination justify-content-end">
            <li class="page-item {{enabled}}">
              <a class="page-link"  href="/reports/attendance?page={{previousPage}}">Previous</a>
            </li>
            <li class="page-item"><a class="page-link"   disabled>{{currentPage}}</a></li>
              <li class="page-item"> <a class="page-link" disabled> / </a> </li>
            <li class="page-item"><a class="page-link" disabled>{{numberOfPages}}</a></li>
            <li class="page-item {{enabled}}">
              <a class="page-link" href="/reports/attendance?page={{nextPage}}">Next</a>
            </li>
          </ul>
    </nav>